<!--navigation bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black justify-content-center"> <!--colours navbar black and centers content-->

    <a class="navbar-brand main-heading" href="{% url ''%}">  <!--hyperlink of taskify text on top left corner-->
            
      &nbsp; &nbsp; &nbsp; Taskify <!--&nbsp, is hornizontal spacing-->
    
    </a>
  
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <!--horizontal spacing (centering div doesn't work as it is centering between the taskify logo and the buttons, not to the center of the page)-->
    <div class="row justify-content-center w-100"> <!--clock and date display-->
      <h1 class="time" id="time" align="center"></h1> 
      <h3 class="date" id="date" align="center"></h3>
        
    </div>
    

    <script> //script for clock
        function updateClock() { //get time
            const now = new Date();
            const hours = now.getHours();
            const minutes = now.getMinutes();
            const seconds = now.getSeconds();
            const ampm = hours >= 12 ? 'PM' : 'AM'; //get am/pm

            const hour12 = hours % 12 || 12; //converting 24 hour to 12 hour
            const minuteString = minutes < 10 ? '0' + minutes : minutes; //if less than 10, add 0 to front
            const secondString = seconds < 10 ? '0' + seconds : seconds;

            const timeString = hour12 + ':' + minuteString + ':' + secondString + ' ' + ampm; //creating a string of hours, minutes and seconds together 

            const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; //list of days
            const dayName = days[now.getDay()]; //get day NOTE:this gets day in short form (Mon, Tue). The list before converts it to full length days
            const date = now.getDate(); //get time
            const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; //list of days
            const monthName = months[now.getMonth()]; //get day NOTE:this gets month in short form (Jan, Feb). The list before converts it to full length months
            const year = now.getFullYear(); //get year

            const dateString = dayName + ', ' + monthName + ' ' + date + ', ' + year; //creating a string of day, month and year together 

            document.getElementById('time').textContent = timeString; //attributes id 'time' to the string of time for display
            document.getElementById('date').textContent = dateString; //attributes id 'date' to the string of time for display
        }

        setInterval(updateClock, 1000); //udpdate clock 
        updateClock();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> <!--script for dropdown menu-->

    <!--button for nav bar dropdown button-->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>

    </button>


      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown"> <!--when window is too small, buttons turn into dropdown menu-->

        
        <ul class="navbar-nav me-auto">


          &nbsp;     &nbsp;     &nbsp; 

          <li class="nav-item">
      
            <a class="btn btn-outline-info navbar-btn" type="button" href="{% url 'view-tasks' %}"> Tasks </a> <!--nav bar button for tasks-->

          </li>

          <li class="nav-item">
      
            <a class="btn btn-outline-info navbar-btn" type="button" href="{% url 'calendar' %}"> Calendar </a> <!--nav bar button for calendar-->

          </li>

                

          <li class="nav-item">

            <a class="btn btn-outline-info navbar-btn" type="button" href="{% url 'quotes' %}"> Quotes </a> <!--nav bar button for quotes-->

          </li>


          &nbsp;     &nbsp;     &nbsp; 
          

        </ul>
      
        
      </div>


</nav>
